* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 45px;
    font-weight: bold;
    float: left;
    font-family: 'Open Sans',sans-serif;
    color: #3a587a;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgb(78, 238, 217);
    z-index: 999;
    border-bottom:1px solid #3a587a;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 60px;
}

.kolom .deskirpsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #3a587a;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #3a587a;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background-color: rgb(98, 189, 189);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffff;
    cursor: pointer;
    font-weight: hold;
}

a.tbl-biru:hover {
    background: rgb(218, 119, 152);
    text-decoration: none;
}

a.tbl-pink {
  background-color: rgb(0, 204, 255);
  padding: 16px;
  text-decoration: none;
  color: white;
  box-shadow: 0px 14px 56px -11px rgb(56 189 248);
  border-radius: 10px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.contact {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.icon {
    width: 20%;
    margin: 0 auto;
}

.icon img {
    width: 80%;
    border-radius: 50%;
}

.icon p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color:rgb(75, 189, 189)
}

#footer {
    background: #2c68b1;
    padding: 70px 0px 70px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 50%;
    margin: 0 auto;
}

h3 {
    font-family: "comic sans ms";
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(41, 38, 38);
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    margin: 10px 10px 10px 10px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }
    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }
    nav .menu {
        width: 100%;
        margin: 0;
    }
    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
    }

    .icon {
        width: 45%;
    }
}

.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: #5c7da7;
}

.gray {
    color: gray;
}


html::-webkit-scrollbar {
  width: 7px;
  border-radius: 3px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 3px;
  height: 70px;
  background-color: #0066ff;
}

.center {
    text-align: center;
    margin-bottom: 20px;
}